In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import json

In [44]:
user=[]
path = '/Users/bjxl/yelp_dataset/yelp_academic_dataset_user.json'

with open(path, encoding='utf-8') as fin:
    i = 0
    for line in fin:
        line_contents = json.loads(line)
        user.append(line_contents)

user=pd.DataFrame(user)
user.to_csv('/Users/bjxl/fyp/csv/user.csv')

In [45]:
user

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,23,2015-01-06 00:31:31,7,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,1,2016-06-14 07:20:52,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,4,2017-02-04 15:31:58,1,1,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,2,2011-01-14 00:29:08,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2,2020-12-19 02:32:39,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
user[user["review_count"]>500].count()

user_id               8570
name                  8570
review_count          8570
yelping_since         8570
useful                8570
funny                 8570
cool                  8570
elite                 8570
friends               8570
fans                  8570
average_stars         8570
compliment_hot        8570
compliment_more       8570
compliment_profile    8570
compliment_cute       8570
compliment_list       8570
compliment_note       8570
compliment_plain      8570
compliment_cool       8570
compliment_funny      8570
compliment_writer     8570
compliment_photos     8570
dtype: int64

In [39]:
user_more_than_500=user[user["review_count"]>500]
user_more_than_500.to_csv('/Users/bjxl/fyp/csv/user_review_count_more_than_500.csv')

In [40]:
user_more_than_500

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
5,q_QQ5kBBwlCcbL1s4NVK3g,Jane,1221,2005-03-14 20:26:35,14953,9940,11211,"2006,2007,2008,2009,2010,2011,2012,2013,2014","xBDpTUbai0DXrvxCe3X16Q, 7GPNBO496aecrjJfW6UWtg...",1357,...,163,191,361,147,1212,5696,2543,2543,815,323
11,xoZvMJPDW6Q9pDAXI0e_Ww,Ryan,535,2009-05-27 06:12:10,1130,487,573,"2009,2010,2011,2012","6tbXpUIU6upoeqWNDo9k_A, Vlab9b73R5qPLIv6tE4DJA...",31,...,9,1,3,5,31,41,36,36,24,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829076,E9T0Irm2d52T2yh1r0DwEA,Susan,553,2012-10-29 04:58:51,232,71,143,"2017,2018,2019,20,20,2021","WPBrjBbk76ZtZQ8QpG09cQ, o5N3kGbZs242XKfqnQbNbw...",21,...,0,0,0,0,3,5,6,6,0,4
1832339,evX3hPoTbfcvb_D13O1P2A,Hai,517,2016-04-24 06:22:58,490,117,284,"2017,2018,2019,20,20,2021","iY6rc4hkIZ6gnpWhcN8mXw, TSf8vsQKua6pPM4AdX1g1A...",15,...,1,0,0,0,5,17,11,11,2,2
1835121,BEEwA-hzBRPxMZi8ilRlMA,Megan,530,2012-02-07 20:49:38,809,165,420,"2015,2016,2017,2018,2019,20,20,2021","khReVzlOHG2JcBgob3zRyg, 5QXgu1DiH7_CgVDmYYpXXw...",30,...,0,0,0,0,24,17,35,35,17,3
1843592,vSVWzD6beYvHjwQ7-FkvWw,Tim,758,2012-10-11 16:40:53,1146,286,461,"2015,2016,2017,2018","bvMpxq19crfB2LJ4R5qE7Q, 4lXwcTkAaoZoO17y9eOljQ...",26,...,0,0,0,0,5,19,8,8,11,3
1855349,-AL9mIJSpdWHQf4BBeDXgg,Mary Lou,907,2011-05-05 18:33:53,622,109,401,"2018,2019,20,20,2021","W-ZjhJYNdwPLf0spRybSwQ, rNVFGJ0IFWRuNCsDYjXaag...",34,...,2,1,1,0,34,20,27,27,23,13

In [2]:
restaurant=pd.read_csv("/Users/bjxl/fyp/csv/restaurant_review.csv")
restaurant

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
1,1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
2,2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': ""u'full_bar'"", '...","Pubs, Restaurants, Italian, Bars, American (Tr...",NaN
3,3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '..."
4,4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,NaN,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ""'none'"", 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52263,52263,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Restaurants, Sandwiches, Convenience Stores, C...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
52264,52264,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,4.0,33,1,"{'WiFi': ""'free'"", 'RestaurantsGoodForGroups':...","Cafes, Juice Bars & Smoothies, Coffee & Tea, R...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-17:0', '..."
52265,52265,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"{'WheelchairAccessible': 'False', 'Restaurants...","Restaurants, Mexican","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
52266,52266,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,4.5,14,1,"{'RestaurantsDelivery': 'False', 'BusinessAcce...","Restaurants, Comfort Food, Food, Food Trucks, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
52267,52267,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,2470 Guardian Road NW,Edmonton,AB,T5T 1K8,53.509649,-113.675999,4.5,18,0,"{'Ambience': ""{'touristy': False, 'hipster': F...","Middle Eastern, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."

In [3]:
user_review=pd.read_csv('/Users/bjxl/fyp/csv/review.csv')
user_review

/var/folders/cv/j22vlhb52tb_nhwbf2m_cdq40000gn/T/ipykernel_24618/2275033239.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  user_review=pd.read_csv('/Users/bjxl/fyp/csv/review.csv')

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date,polarity
0,0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0.0,0.0,0.0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,0.198485
1,1,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0.0,0.0,0.0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,0.139935
2,2,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1.0,0.0,1.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,0.315152
3,3,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1.0,0.0,1.0,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,0.416234
4,4,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,1.0,2.0,1.0,I am a long term frequent customer of this est...,2015-09-23 23:10:31,0.211111
...,...,...,...,...,...,...,...,...,...,...,...
4724468,4724466,7NgXAuTFiJHYbuepOPwU0w,x1QLCwZGFAjxRRw4EHc3-g,1_BVWDzi5cVqWxNe9bOMMQ,5.0,1.0,0.0,1.0,Don't misinterpret my 5-star review....I don't...,2016-04-30 01:02:34,0.461139
4724469,4724467,wD5ZWao_vjyT2h4xmGam8Q,7L7GL5Pi2cf8mbm2Dpw4zw,e_E-jq9mwm7wk75k7Yi-Xw,5.0,1.0,0.0,1.0,It is very rare for a restaurant to be this go...,2022-01-17 22:36:01,0.558333
4724470,4724468,YVX1Wsa4LYxjvFwuHBb_gA,RKPkxOYQlM0BjhM-H6_vAw,X4mouE_cMiwbfyCPZ_K-FA,4.0,3.0,0.0,2.0,"Good, maybe very good. I went for lunch, so t...",2015-01-23 23:52:03,0.191818
4724471,4724469,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,1.0,0.0,0.0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27,0.294137
4724472,4724470,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3.0,10.0,3.0,7.0,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47,0.161667

In [4]:
user_review.groupby("user_id").count()

,Unnamed: 0,review_id,business_id,stars,useful,funny,cool,text,date,polarity
user_id,,,,,,,,,,
---2PmXbF47D870stH1jqA,22,22,22,22,22,22,22,22,22,22
---UgP94gokyCDuB5zUssA,10,10,10,10,10,10,10,10,10,10
---r61b7EpVPkb4UVme5tA,3,3,3,3,3,3,3,3,3,3
---zemaUC8WeJeWKqS6p9Q,1,1,1,1,1,1,1,1,1,1
--0DrQkM0FT-yCQRWw82uQ,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
zzz-M4QvkEpUWWPL9RTzLA,8,8,8,8,8,8,8,8,8,8
zzzCg-_lpyYE82TlJCdwdw,1,1,1,1,1,1,1,1,1,1
zzzGgfvrSJ4AQeKtcgocIw,1,1,1,1,1,1,1,1,1,1
zzzMBVS73g3ZJ7qL8JyhiA,1,1,1,1,1,1,1,1,1,1
zzzUFM4HFe0SFG0bPjntQA,1,1,1,1,1,1,1,1,1,1

In [ ]:
category=[]
for business_id in user_review["business_id"]:
    i=0
    for restaurant_id in restaurant["business_id"]:
        if business_id==restaurant_id:
            category.append(restaurant["categories"][i])
        i=i+1
category

In [17]:
num=user_review.groupby("user_id")["review_id"].count()
num
num[num.values>20].to_csv("/Users/bjxl/fyp/csv/1-1.csv")

In [22]:
num.index

'--17Db1K-KujRuN7hY9Z0Q'

In [19]:
business_count=[]
for i in num.index:
    k=0
    count=[]
    for j in user_review["user_id"]:
        if i==j:
            count.append(user_review["business_id"][k])
        k=k+1
    business_count.append(count)
business_count

KeyboardInterrupt:

In [5]:
user_review=user_review[["review_id","business_id","user_id","polarity"]]
user_review

,review_id,business_id,user_id,polarity
0,KU_O5udG6zpxOg-VcAEodg,XQfwVwDr-v0ZS3_CbbE5Xw,mh_-eMZ6K5RLWhZyISBhwA,0.198485
1,saUsX_uimxRlCVr67Z4Jig,YjUWPpI6HXG530lwP-fb2A,8g_iMtfSiwikVnbP2etR0A,0.139935
2,AqPFMleE6RsU23_auESxiA,kxX2SOes4o-D3ZQBkiMRfA,_7bHUi9Uuf5__HHc_Q8guQ,0.315152
3,Sx8TMOWLNuJBWer-0pcmoA,e4Vwtrqf-wpJfwesgvdgxQ,bcjbaE6dDog4jkNY91ncLQ,0.416234
4,JrIxlS1TzJ-iCu79ul40cQ,04UD14gamNjLY0IDYVhHJg,eUta8W_HdHMXPzLBBZhL1A,0.211111
...,...,...,...,...
4724468,7NgXAuTFiJHYbuepOPwU0w,1_BVWDzi5cVqWxNe9bOMMQ,x1QLCwZGFAjxRRw4EHc3-g,0.461139
4724469,wD5ZWao_vjyT2h4xmGam8Q,e_E-jq9mwm7wk75k7Yi-Xw,7L7GL5Pi2cf8mbm2Dpw4zw,0.558333
4724470,YVX1Wsa4LYxjvFwuHBb_gA,X4mouE_cMiwbfyCPZ_K-FA,RKPkxOYQlM0BjhM-H6_vAw,0.191818
4724471,i-I4ZOhoX70Nw5H0FwrQUA,Rr9kKArrMhSLVE9a53q-aA,YwAMC-jvZ1fvEUum6QkEkw,0.294137
4724472,RwcKOdEuLRHNJe4M9-qpqg,VAeEXLbEcI9Emt9KGYq9aA,6JehEvdoCvZPJ_XIxnzIIw,0.161667

In [8]:
user_num=user_review.groupby("user_id").count()

In [77]:
user_restaurant=pd.DataFrame(user_10.index)
user_restaurant["positive"]=[]
user_restaurant["negative"]=[]

# for user_id in user_10.index:
#     i=-1 
#     user_restaurant_positive=[]
#     user_restaurant_negative=[]
#     for user in user_review["user_id"]:
#         i=i+1
#         if user_id==user:
#             if user_review["polarity"][i]>0:
#                 user_restaurant_positive.append(user_review["business_id"][i])
#             else:
#                 user_restaurant_negative.append(user_review["business_id"][i])       
#         user_restaurant["positive"][i]=user_restaurant_positive
#         user_restaurant["negative"][i]=user_restaurant_negative
# user_restaurant_negative               
user_restaurant

ValueError: Length of values (0) does not match length of index (10)

In [25]:
user_review.groupby("user_id")["polarity"].mean()

user_id
---2PmXbF47D870stH1jqA    0.370611
---UgP94gokyCDuB5zUssA    0.267445
---r61b7EpVPkb4UVme5tA    0.273611
---zemaUC8WeJeWKqS6p9Q    0.035480
--0DrQkM0FT-yCQRWw82uQ    0.000000
                            ...
zzz-M4QvkEpUWWPL9RTzLA   -0.037194
zzzCg-_lpyYE82TlJCdwdw    0.668750
zzzGgfvrSJ4AQeKtcgocIw    0.267014
zzzMBVS73g3ZJ7qL8JyhiA   -0.050833
zzzUFM4HFe0SFG0bPjntQA    0.213542
Name: polarity, Length: 1445991, dtype: float64