In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import json

In [2]:
review=pd.read_csv('/Users/bjxl/fyp/csv/review.csv')
review

/var/folders/cv/j22vlhb52tb_nhwbf2m_cdq40000gn/T/ipykernel_88315/1012365163.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  review=pd.read_csv('/Users/bjxl/fyp/csv/review.csv')

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0.0,0.0,0.0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,1,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0.0,0.0,0.0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
2,2,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1.0,0.0,1.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
3,3,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1.0,0.0,1.0,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
4,4,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,1.0,2.0,1.0,I am a long term frequent customer of this est...,2015-09-23 23:10:31
...,...,...,...,...,...,...,...,...,...,...
4724468,4724466,7NgXAuTFiJHYbuepOPwU0w,x1QLCwZGFAjxRRw4EHc3-g,1_BVWDzi5cVqWxNe9bOMMQ,5.0,1.0,0.0,1.0,Don't misinterpret my 5-star review....I don't...,2016-04-30 01:02:34
4724469,4724467,wD5ZWao_vjyT2h4xmGam8Q,7L7GL5Pi2cf8mbm2Dpw4zw,e_E-jq9mwm7wk75k7Yi-Xw,5.0,1.0,0.0,1.0,It is very rare for a restaurant to be this go...,2022-01-17 22:36:01
4724470,4724468,YVX1Wsa4LYxjvFwuHBb_gA,RKPkxOYQlM0BjhM-H6_vAw,X4mouE_cMiwbfyCPZ_K-FA,4.0,3.0,0.0,2.0,"Good, maybe very good. I went for lunch, so t...",2015-01-23 23:52:03
4724471,4724469,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,1.0,0.0,0.0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
4724472,4724470,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3.0,10.0,3.0,7.0,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [3]:
review=review.drop(["Unnamed: 0"],axis=1)
review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0.0,0.0,0.0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0.0,0.0,0.0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
2,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1.0,0.0,1.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
3,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1.0,0.0,1.0,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
4,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1.0,1.0,2.0,1.0,I am a long term frequent customer of this est...,2015-09-23 23:10:31
...,...,...,...,...,...,...,...,...,...
4724468,7NgXAuTFiJHYbuepOPwU0w,x1QLCwZGFAjxRRw4EHc3-g,1_BVWDzi5cVqWxNe9bOMMQ,5.0,1.0,0.0,1.0,Don't misinterpret my 5-star review....I don't...,2016-04-30 01:02:34
4724469,wD5ZWao_vjyT2h4xmGam8Q,7L7GL5Pi2cf8mbm2Dpw4zw,e_E-jq9mwm7wk75k7Yi-Xw,5.0,1.0,0.0,1.0,It is very rare for a restaurant to be this go...,2022-01-17 22:36:01
4724470,YVX1Wsa4LYxjvFwuHBb_gA,RKPkxOYQlM0BjhM-H6_vAw,X4mouE_cMiwbfyCPZ_K-FA,4.0,3.0,0.0,2.0,"Good, maybe very good. I went for lunch, so t...",2015-01-23 23:52:03
4724471,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5.0,1.0,0.0,0.0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
4724472,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3.0,10.0,3.0,7.0,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [42]:
user=pd.read_csv('/Users/bjxl/fyp/csv/user_friends_2000.csv')
user

,Unnamed: 0,user_id,friends_2000
0,0,j14WgRoU_-2ZE1aw1dXrJg,"['E_GAXhVA1_lVC2aFpMQElA', 'd67zTET_2IuVoWcUU0..."
1,1,NIhcRW6DWvk1JQhDhXwgOQ,"['rcU7ysY41qGppbw4pQgjqg', 'M9puGD3VU5FuhE60Hk..."
2,2,2l0O1EI1m0yWjFo2zSt71w,"['d67zTET_2IuVoWcUU0aWaQ', 'ZpUI9ze0YlA6nMSHwx..."
3,3,VHdY6oG2JPVNjihWhOooAQ,"['B7ecAeAIrXg7sgmabS38pg', 'Pf7FI0OukC_CEcCz0Z..."
4,4,om5ZiponkpRqUNa3pVPiRg,"['dIIKEfOgo0KqUfGQvGikPg', '2l0O1EI1m0yWjFo2zS..."
...,...,...,...
301,301,WALNtcSZlONK4Yj-o3pzKA,"['eSlOI3GhroEtcbaD_nFXJQ', 'Z88N6qly3Dp5C06XbZ..."
302,302,FdPioXvctMq8lhBtd_NnTg,"['lvthTfCQGD0qaEk6jCdRdQ', 'zvQ7B3KZuFOX7pYLsO..."
303,303,VgtcRwMPiAEeuPsayXB4kA,"['M1cMsRL4L7IUr9RILDywEQ', 'B7ecAeAIrXg7sgmabS..."
304,304,Ggx8iUdJ7lsQSqXRuclXtg,"['1wE7oHKgNOLPM0QWS3jm9w', 'Dfu-NuG1YWB96jjBLI..."
305,305,LWwmuZJjI4jeB95fQGbG0Q,"['PkNs-Rw6MHQfu6j5pBZMMw', 'eSlOI3GhroEtcbaD_n..."

In [5]:
user_review_2000=[]
for i in range(0,len(review)):
    for j in user["user_id"]:
        if review["user_id"][i]==j:
            user_review_2000.append([review["review_id"][i],review["user_id"][i],review["text"][i]])
print(user_review_2000)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [6]:
user_review_2000=pd.DataFrame(user_review_2000)
user_review_2000["review_id"]=user_review_2000[0]
user_review_2000["user_id"]=user_review_2000[1]
user_review_2000["text"]=user_review_2000[2]
user_review_2000=user_review_2000[["review_id","user_id","text"]]
user_review_2000

,review_id,user_id,text
0,IJCYT9dRjuBvY-BJufFnNg,hWDybu_KvYLSdEFzGrniTw,"As airport grab-and-go restaurants are, Earl d..."
1,MWUGmzyXVIlG2NwvzX0q4Q,Xw7ZjaGfr0WNVt6s_5KZfA,What an AMAZING occurrence that we ended up he...
2,nhfB-ssDwJxbpAUjlE889A,fr1Hz2acAb3OaL3l6DyKNg,We have big group of 12 for the office outing ...
3,7Ki1tkHP23P2i--9qsTRdg,-G7Zkl1wIWBBmD0KRy_sCw,"Just finished a State Street Kitchen, Grilled ..."
4,p87acJKiGDY07_njsTefLg,qjfMBIZpQT9DDtw_BWCopQ,I love the concept of this place. One half of ...
...,...,...,...
26980,lW_YSDDoMOYeU2KgSnFBQQ,pou3BbKsIozfH50rxmnMew,Why 4 stars? Because how does fast food chick...
26981,LGx-E-UOv9J870pnDHJrvA,1HM81n6n4iPIFU5d2Lokhw,Cherry Espresso Bar is located inside a buildi...
26982,dS62gOxDLYlrxZclh--dSg,pou3BbKsIozfH50rxmnMew,Why 5 stars? Because I want Moonlight Boba in ...
26983,aHQVQm-rmUDyXbOHPjNoWQ,pou3BbKsIozfH50rxmnMew,Why 4 stars? Because it was a tasty lunch for ...
26984,rtt1Ymczj-1Lb26JMsY2lA,M1cMsRL4L7IUr9RILDywEQ,"5 stars for the Bonte waffle, 3 stars for this..."

In [7]:
df = pd.DataFrame(np.array(user_review_2000["text"]), columns=['review'])
df

                                                  review
0      As airport grab-and-go restaurants are, Earl d...
1      What an AMAZING occurrence that we ended up he...
2      We have big group of 12 for the office outing ...
3      Just finished a State Street Kitchen, Grilled ...
4      I love the concept of this place. One half of ...
...                                                  ...
26980  Why 4 stars?  Because how does fast food chick...
26981  Cherry Espresso Bar is located inside a buildi...
26982  Why 5 stars? Because I want Moonlight Boba in ...
26983  Why 4 stars? Because it was a tasty lunch for ...
26984  5 stars for the Bonte waffle, 3 stars for this...

[26985 rows x 1 columns]

In [8]:
# Calculate word count
df['word_count'] = df['review'].apply(lambda x: len(str(x).split(" ")))

# Calculate character count
df['char_count'] = df['review'].str.len()

def avg_word(review):
    words = review.split()
    return (sum(len(word) for word in words) / len(words))

# Calculate average words
df['avg_word'] = df['review'].apply(lambda x: avg_word(x))

# Import stopwords
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

stop_words = stopwords.words('english')
df['stopword_coun'] = df['review'].apply(lambda x: len([x for x in x.split() if x in stop_words]))

<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject
[nltk_data] Downloading package stopwords to /Users/bjxl/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
df

,review,word_count,char_count,avg_word,stopword_coun
0,"As airport grab-and-go restaurants are, Earl d...",101,549,4.382353,37
1,What an AMAZING occurrence that we ended up he...,321,1727,4.324074,141
2,We have big group of 12 for the office outing ...,187,973,4.187166,74
3,"Just finished a State Street Kitchen, Grilled ...",122,661,4.555556,49
4,I love the concept of this place. One half of ...,109,571,4.330189,43
...,...,...,...,...,...
26980,Why 4 stars? Because how does fast food chick...,293,1533,4.320423,125
26981,Cherry Espresso Bar is located inside a buildi...,152,861,4.713333,59
26982,Why 5 stars? Because I want Moonlight Boba in ...,485,2563,4.247423,187
26983,Why 4 stars? Because it was a tasty lunch for ...,276,1454,4.217391,115
26984,"5 stars for the Bonte waffle, 3 stars for this...",181,964,4.344444,86

In [10]:
df.describe()

         word_count    char_count      avg_word  stopword_coun
count  26985.000000  26985.000000  26985.000000   26985.000000
mean     186.691903   1015.003780      4.440487      74.080674
std      134.190113    733.495405      0.368743      55.289482
min        1.000000      6.000000      3.250000       0.000000
25%       93.000000    506.000000      4.234848      36.000000
50%      154.000000    834.000000      4.406250      60.000000
75%      242.000000   1316.000000      4.600000      97.000000
max      987.000000   5000.000000     31.000000     425.000000

In [11]:
df.head()

,review,word_count,char_count,avg_word,stopword_coun
0,"As airport grab-and-go restaurants are, Earl d...",101,549,4.382353,37
1,What an AMAZING occurrence that we ended up he...,321,1727,4.324074,141
2,We have big group of 12 for the office outing ...,187,973,4.187166,74
3,"Just finished a State Street Kitchen, Grilled ...",122,661,4.555556,49
4,I love the concept of this place. One half of ...,109,571,4.330189,43

In [12]:
# Lower case all words
df['review_lower'] = df['review'].apply(lambda x: " ".join(x.lower() for x in x.split()))

# Remove Punctuation
df['review_nopunc'] = df['review_lower'].str.replace('[^\w\s]', '')

# Import stopwords
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

# Remove Stopwords
df['review_nopunc_nostop'] = df['review_nopunc'].apply(lambda x: " ".join(x for x in x.split() if x not in stop_words))

/var/folders/cv/j22vlhb52tb_nhwbf2m_cdq40000gn/T/ipykernel_88315/632770564.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['review_nopunc'] = df['review_lower'].str.replace('[^\w\s]', '')

In [13]:
# Return frequency of values
freq= pd.Series(" ".join(df['review_nopunc_nostop']).split()).value_counts()[:30]
freq

good          26283
food          20372
like          16821
place         16209
one           15049
get           11906
really        11416
time          11324
great         11210
also          10553
would         10147
service        9313
chicken        9127
menu           9001
back           8728
restaurant     8639
order          8604
go             8588
well           8012
nice           7961
ordered        7741
im             7678
got            7675
bar            7641
sauce          7127
dont           7009
cheese         7000
lunch          6956
much           6953
pretty         6737
dtype: int64

In [14]:
other_stopwords = ['get', 'us', 'see', 'use', 'said', 'asked', 'day', 'go' \
  'even', 'ive', 'right', 'left', 'always', 'would', 'told', \
  'get', 'us', 'would', 'get', 'one', 'ive', 'go', 'even', \
  'also', 'ever', 'x', 'take', 'let' ]

In [15]:
df['review_nopunc_nostop_nocommon'] = df['review_nopunc_nostop'].apply(lambda x: "".join(" ".join(x for x in x.split() if x not in other_stopwords)))

In [16]:
df.head()

,review,word_count,char_count,avg_word,stopword_coun,review_lower,review_nopunc,review_nopunc_nostop,review_nopunc_nostop_nocommon
0,"As airport grab-and-go restaurants are, Earl d...",101,549,4.382353,37,"as airport grab-and-go restaurants are, earl d...",as airport grabandgo restaurants are earl does...,airport grabandgo restaurants earl decent job ...,airport grabandgo restaurants earl decent job ...
1,What an AMAZING occurrence that we ended up he...,321,1727,4.324074,141,what an amazing occurrence that we ended up he...,what an amazing occurrence that we ended up he...,amazing occurrence ended another barbecue plac...,amazing occurrence ended another barbecue plac...
2,We have big group of 12 for the office outing ...,187,973,4.187166,74,we have big group of 12 for the office outing ...,we have big group of 12 for the office outing ...,big group 12 office outing lunch would said nu...,big group 12 office outing lunch number people...
3,"Just finished a State Street Kitchen, Grilled ...",122,661,4.555556,49,"just finished a state street kitchen, grilled ...",just finished a state street kitchen grilled c...,finished state street kitchen grilled chicken ...,finished state street kitchen grilled chicken ...
4,I love the concept of this place. One half of ...,109,571,4.330189,43,i love the concept of this place. one half of ...,i love the concept of this place one half of i...,love concept place one half café serves differ...,love concept place half café serves different ...

In [17]:
#Import textblob
from textblob import Word
import nltk
nltk.download('omw-1.4')
nltk.download('wordnet')
# Lemmatize final review format
df['cleaned_review'] = df['review_nopunc_nostop_nocommon']\
.apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

[nltk_data] Downloading package omw-1.4 to /Users/bjxl/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/bjxl/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [18]:
print("Base Review\n",df["review"][0])
print("\n------------------\n")
print("Clean and Lemmatized Review\n",df["cleaned_review"][0])

Base Review
 As airport grab-and-go restaurants are, Earl does a decent job with a variety of sandwich options including turkey, tuna and even a Hawaiian. But today I could smell the roast beef and so I got that one. Yum. Good portion of sliced beef that was beyond medium cooked with cheddar cheese and a yummy horseradish sauce. Nope, don't get lettuce or tomatoes on it. It's perfect the way it is.

And since it's right between the security station and the top of the D gates (right near the Delta SkyClub!), it's easy to get and eat at the gate or on board.

------------------

Clean and Lemmatized Review
 airport grabandgo restaurant earl decent job variety sandwich option including turkey tuna hawaiian today could smell roast beef got yum good portion sliced beef beyond medium cooked cheddar cheese yummy horseradish sauce nope dont lettuce tomato perfect way since security station top gate near delta skyclub easy eat gate board

In [19]:
freq= pd.Series(" ".join(df['review_nopunc_nostop_nocommon']).split()).value_counts()[:30]
freq

good          26283
food          20372
like          16821
place         16209
really        11416
time          11324
great         11210
service        9313
chicken        9127
menu           9001
back           8728
restaurant     8639
order          8604
well           8012
nice           7961
ordered        7741
im             7678
got            7675
bar            7641
sauce          7127
dont           7009
cheese         7000
lunch          6956
much           6953
pretty         6737
came           6693
didnt          6500
bit            6499
little         6453
first          5982
dtype: int64

In [20]:
df["user_id"]=user_review_2000["user_id"]
df

,review,word_count,char_count,avg_word,stopword_coun,review_lower,review_nopunc,review_nopunc_nostop,review_nopunc_nostop_nocommon,cleaned_review,user_id
0,"As airport grab-and-go restaurants are, Earl d...",101,549,4.382353,37,"as airport grab-and-go restaurants are, earl d...",as airport grabandgo restaurants are earl does...,airport grabandgo restaurants earl decent job ...,airport grabandgo restaurants earl decent job ...,airport grabandgo restaurant earl decent job v...,hWDybu_KvYLSdEFzGrniTw
1,What an AMAZING occurrence that we ended up he...,321,1727,4.324074,141,what an amazing occurrence that we ended up he...,what an amazing occurrence that we ended up he...,amazing occurrence ended another barbecue plac...,amazing occurrence ended another barbecue plac...,amazing occurrence ended another barbecue plac...,Xw7ZjaGfr0WNVt6s_5KZfA
2,We have big group of 12 for the office outing ...,187,973,4.187166,74,we have big group of 12 for the office outing ...,we have big group of 12 for the office outing ...,big group 12 office outing lunch would said nu...,big group 12 office outing lunch number people...,big group 12 office outing lunch number people...,fr1Hz2acAb3OaL3l6DyKNg
3,"Just finished a State Street Kitchen, Grilled ...",122,661,4.555556,49,"just finished a state street kitchen, grilled ...",just finished a state street kitchen grilled c...,finished state street kitchen grilled chicken ...,finished state street kitchen grilled chicken ...,finished state street kitchen grilled chicken ...,-G7Zkl1wIWBBmD0KRy_sCw
4,I love the concept of this place. One half of ...,109,571,4.330189,43,i love the concept of this place. one half of ...,i love the concept of this place one half of i...,love concept place one half café serves differ...,love concept place half café serves different ...,love concept place half café serf different ty...,qjfMBIZpQT9DDtw_BWCopQ
...,...,...,...,...,...,...,...,...,...,...,...
26980,Why 4 stars? Because how does fast food chick...,293,1533,4.320423,125,why 4 stars? because how does fast food chicke...,why 4 stars because how does fast food chicken...,4 stars fast food chicken get better imagine p...,4 stars fast food chicken better imagine place...,4 star fast food chicken better imagine place ...,pou3BbKsIozfH50rxmnMew
26981,Cherry Espresso Bar is located inside a buildi...,152,861,4.713333,59,cherry espresso bar is located inside a buildi...,cherry espresso bar is located inside a buildi...,cherry espresso bar located inside building 10...,cherry espresso bar located inside building 10...,cherry espresso bar located inside building 10...,1HM81n6n4iPIFU5d2Lokhw
26982,Why 5 stars? Because I want Moonlight Boba in ...,485,2563,4.247423,187,why 5 stars? because i want moonlight boba in ...,why 5 stars because i want moonlight boba in m...,5 stars want moonlight boba life often recentl...,5 stars want moonlight boba life often recentl...,5 star want moonlight boba life often recently...,pou3BbKsIozfH50rxmnMew
26983,Why 4 stars? Because it was a tasty lunch for ...,276,1454,4.217391,115,why 4 stars? because it was a tasty lunch for ...,why 4 stars because it was a tasty lunch for a...,4 stars tasty lunch nonvegan like full disclos...,4 stars tasty lunch nonvegan like full disclos...,4 star tasty lunch nonvegan like full disclosu...,pou3BbKsIozfH50rxmnMew
26984,"5 stars for the Bonte waffle, 3 stars for this...",181,964,4.344444,86,"5 stars for the bonte waffle, 3 stars for this...",5 stars for the bonte waffle 3 stars for this ...,5 stars bonte waffle 3 stars location amazing ...,5 stars bonte waffle 3 stars location amazing ...,5 star bonte waffle 3 star location amazing aw...,M1cMsRL4L7IUr9RILDywEQ

In [48]:
# Define a function to count the frequency of each word
def count_words(data):
    words = data.str.split(expand=True).values.flatten()
    return pd.Series(words).value_counts()

# Group by User and apply the count_words function to get the frequency of each word
word_counts = df.groupby('user_id')['review_nopunc_nostop_nocommon'].apply(count_words)

# Reset index to turn multi-level series into a dataframe
word_counts = word_counts.reset_index(name='count')

# Group again by User and take the top 30 words for each user
top_30_words = word_counts.groupby('user_id').apply(lambda x: x.nlargest(30, 'count'))

# Print the resulting dataframe
top_30_words

                                              user_id    level_1  count
user_id
-FZBTkAZEXoP7CYvRV2ZwQ 0       -FZBTkAZEXoP7CYvRV2ZwQ     coffee     11
                       1       -FZBTkAZEXoP7CYvRV2ZwQ        got      9
                       2       -FZBTkAZEXoP7CYvRV2ZwQ       good      9
                       3       -FZBTkAZEXoP7CYvRV2ZwQ     pretty      9
                       4       -FZBTkAZEXoP7CYvRV2ZwQ    ordered      8
...                                               ...        ...    ...
zwLq4aVDSH7HyMbVjKfkRg 495815  zwLq4aVDSH7HyMbVjKfkRg      press      1
                       495814  zwLq4aVDSH7HyMbVjKfkRg        ice      1
                       495813  zwLq4aVDSH7HyMbVjKfkRg   directly      1
                       495812  zwLq4aVDSH7HyMbVjKfkRg    ordered      1
                       495832  zwLq4aVDSH7HyMbVjKfkRg  delicious      1

[8709 rows x 3 columns]

In [49]:
top_30_words.to_csv('/Users/bjxl/fyp/csv/user_review_290.csv')

In [53]:
user=pd.read_csv('/Users/bjxl/fyp/csv/user_review_count_more_than_2000.csv')
user

,Unnamed: 0,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,...,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,friends_2000,friends_index,group
0,0,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",...,251,1847,7054,3131,3131,1521,1946,"['E_GAXhVA1_lVC2aFpMQElA', 'd67zTET_2IuVoWcUU0...","[2, 199, 4, 117, 12, 34, 44, 126, 3, 52, 169, ...",0
1,1,NIhcRW6DWvk1JQhDhXwgOQ,Lia,2288,2005-12-30 13:47:19,12773,4199,7971,"2006,2007,2008,2009,2010,2011,2012,2013,2014,2...","T1upaPMzuW7pNj74fO1rjA, CP28puvAEimt4ziuGTDaHA...",...,21,518,773,867,867,310,231,"['rcU7ysY41qGppbw4pQgjqg', 'M9puGD3VU5FuhE60Hk...","[19, 15, 138, 126, 154]",1
2,2,2l0O1EI1m0yWjFo2zSt71w,Shiho,2837,2005-07-02 01:59:55,19237,9542,15235,"2006,2007,2008,2009,2010,2011","ZxigNlfaGmqtC1CROVu9Dg, XKAFikZAfddYv0Vg1PUkwA...",...,40,350,742,1070,1070,403,258,"['d67zTET_2IuVoWcUU0aWaQ', 'ZpUI9ze0YlA6nMSHwx...","[122, 261, 188, 266, 3, 46, 52, 29, 79, 205, 1...",0
3,3,VHdY6oG2JPVNjihWhOooAQ,Jessica,2101,2005-07-21 01:16:04,47831,28830,44899,"2006,2007,2008,2009,2010,2011,2012,2013,2014,2...","YTqvt6PKmQS-Ygk_JeyXZQ, NhAJ4Fv4xDkWJYo85Y3yOQ...",...,153,2124,16674,7324,7324,2313,548,"['B7ecAeAIrXg7sgmabS38pg', 'Pf7FI0OukC_CEcCz0Z...","[261, 44, 205, 79, 112, 185, 188, 217, 195, 77...",0
4,4,om5ZiponkpRqUNa3pVPiRg,Andrea,2811,2006-01-18 02:35:04,18545,9225,13824,"2006,2007,2008,2009,2010,2011,2012,2013,2014,2...","bQiST5YdWLSH_yk56ccApA, r7Zi52GqnJa6Tb0dqTKlkw...",...,102,1370,2284,1639,1639,437,189,"['dIIKEfOgo0KqUfGQvGikPg', '2l0O1EI1m0yWjFo2zS...","[185, 2, 83, 44, 3, 34, 60, 80, 194, 88, 46, 1...",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,301,WALNtcSZlONK4Yj-o3pzKA,Dan,2257,2007-12-19 03:26:11,10177,8454,8282,"2016,2017,2018,2019,20,20,2021","mZDq-nTY0XxYaK8OT2J8kQ, REXJPb6FtFe9zepHwxCiTw...",...,11,1188,1981,1771,1771,391,596,"['eSlOI3GhroEtcbaD_nFXJQ', 'Z88N6qly3Dp5C06XbZ...","[278, 77, 217, 122, 239, 76, 277, 138, 209, 13...",301
302,302,FdPioXvctMq8lhBtd_NnTg,Lilly,2173,2015-08-15 23:01:37,45204,29298,42310,"2016,2017,2018,2019,20,20,2021","swmrfBnaqU0nyJ3pFBfNgQ, ylidjKyb_BAQakGCRl4wrA...",...,32,1176,2138,2652,2652,1169,1530,"['lvthTfCQGD0qaEk6jCdRdQ', 'zvQ7B3KZuFOX7pYLsO...","[250, 76, 304, 248, 254, 35, 287, 125, 18, 33,...",302
303,303,VgtcRwMPiAEeuPsayXB4kA,Max,2204,2006-12-03 07:18:08,852,449,547,"2008,2009","-ASVMBruwZHaE5sIfobKzA, lVMtIuEoM1Y4xSkDYLylAQ...",...,0,15,33,77,77,10,0,"['M1cMsRL4L7IUr9RILDywEQ', 'B7ecAeAIrXg7sgmabS...","[200, 261, 260, 239]",159
304,304,Ggx8iUdJ7lsQSqXRuclXtg,Nadine,3499,2010-10-18 17:58:12,110553,77755,108733,"2014,2015,2016,2017,2018,2019,20,20,2021","GU5igpfhQTilmOBHWri6KA, N-xwL53xHQA82O5NPkng5Q...",...,54,5112,11488,20835,20835,4547,16333,"['1wE7oHKgNOLPM0QWS3jm9w', 'Dfu-NuG1YWB96jjBLI...","[108, 138, 76, 130, 254, 160, 250, 122, 139, 231]",30
305,305,LWwmuZJjI4jeB95fQGbG0Q,Shalini,2030,2008-11-12 23:01:22,7921,4322,6615,"2011,2012,2013,2014,2015,2016,2017,2018,2019,2...","shYfxXgoZQVJ32_glSPCVg, 07LwIrV7HwG5ncJSi26tRg...",...,9,183,432,439,439,133,167,"['PkNs-Rw6MHQfu6j5pBZMMw', 'eSlOI3GhroEtcbaD_n...","[75, 103, 197, 297, 76, 77, 52, 120, 46, 295, ...",7

In [55]:
name=[]
for i in range(0,len(user)):
    for j in  range(0,len(top_30_words)):
        if user["user_id"][i]==top_30_words["user_id"][j]:
            name.append(user["name"][i])
name

['Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Daniel',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Lia',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Shiho',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Jessica',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Andrea',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Farrah',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Joi',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Peter',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Kim',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Danan',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Dani',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Stephen',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Miriam',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'Ed',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'David',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Ruth',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Jenny',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Steph',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Eric',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Damien',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Lorrie',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Randy',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Rob',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Tina',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Jordan',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Karen',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Kislev',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Anthony',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Pegah',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Hen',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Alex',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Marielle',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Lisa',
 'Jennifer',
 'Jennifer',
 'Jennifer',
 'Jennifer',
 'Jennifer',
 'Jennifer',
 'Jennifer',
 'Jennifer',
 'Jennifer',
 'Jennifer',
 ...]

In [65]:
top_30_words["name"]=name
top_30_words.to_csv('/Users/bjxl/fyp/csv/user_review_290.csv')
top_30_words

                                              user_id    level_1  count  \
user_id
-FZBTkAZEXoP7CYvRV2ZwQ 0       -FZBTkAZEXoP7CYvRV2ZwQ     coffee     11
                       1       -FZBTkAZEXoP7CYvRV2ZwQ        got      9
                       2       -FZBTkAZEXoP7CYvRV2ZwQ       good      9
                       3       -FZBTkAZEXoP7CYvRV2ZwQ     pretty      9
                       4       -FZBTkAZEXoP7CYvRV2ZwQ    ordered      8
...                                               ...        ...    ...
zwLq4aVDSH7HyMbVjKfkRg 495815  zwLq4aVDSH7HyMbVjKfkRg      press      1
                       495814  zwLq4aVDSH7HyMbVjKfkRg        ice      1
                       495813  zwLq4aVDSH7HyMbVjKfkRg   directly      1
                       495812  zwLq4aVDSH7HyMbVjKfkRg    ordered      1
                       495832  zwLq4aVDSH7HyMbVjKfkRg  delicious      1

                                 name
user_id
-FZBTkAZEXoP7CYvRV2ZwQ 0       Daniel
                       1       Daniel
                       2       Daniel
                       3       Daniel
                       4       Daniel
...                               ...
zwLq4aVDSH7HyMbVjKfkRg 495815  Nadine
                       495814  Nadine
                       495813  Nadine
                       495812  Nadine
                       495832  Nadine

[8709 rows x 4 columns]

In [66]:
text_name=pd.read_csv('/Users/bjxl/fyp/csv/user_review_290.csv')
text_name

           text  count    name
0        coffee     11  Daniel
1           got      9  Daniel
2          good      9  Daniel
3        pretty      9  Daniel
4       ordered      8  Daniel
...         ...    ...     ...
8704      press      1  Nadine
8705        ice      1  Nadine
8706   directly      1  Nadine
8707    ordered      1  Nadine
8708  delicious      1  Nadine

[8709 rows x 3 columns]

In [68]:
# Read in the original CSV file
df = pd.read_csv('/Users/bjxl/fyp/csv/user_review_290.csv')

# Get the unique values in the "name" column
unique_names = df['name'].unique()

# Create a dictionary to hold each dataframe for each unique name
dfs_by_name = {}

# Loop through each unique name and create a new dataframe for each one
for name in unique_names:
    dfs_by_name[name] = df.loc[df['name'] == name]

# Loop through the dictionary and write each dataframe to a new CSV file
for name, df_by_name in dfs_by_name.items():
    filename = '/Users/bjxl/fyp/csv/wordCloud/'+name + '.csv'
    df_by_name.to_csv(filename, index=False)